* {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  border: none;
  color: inherit;
  -webkit-touch-callout: none;
}

body {
  background-color: #c9c9c9;
  touch-action: none;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: min-content;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  align-self: center;
  margin: auto;
  background-color: white;
}

.canvas-container canvas {
  display: block;
}

.canvas-container canvas.moving {
  cursor: grab;
}

.canvas-container canvas.moving:active {
  cursor: grabbing;
}

.canvas-container .menu {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: rgba(231, 231, 231, 0.9);
  position: absolute;
}

.canvas-container .menu.right {
  left: unset;
  right: 10px;
}

.canvas-container .menu hr {
  border-top: 1px solid rgb(165, 165, 165);
  margin: 5px;
}

.canvas-container .menu[aria-disabled="true"] {
  opacity: 0.25;
  pointer-events: none;
}
.canvas-container .menu .preview {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: white;
  outline: 1px solid #dadada;
}

.canvas-container .menu .preview .active {
  position: absolute;
  background-color: #b9b9b9;
}

.canvas-container .menu .button {
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.canvas-container .menu .button * {
  display: block;
}

.canvas-container .menu .color {
  border-radius: 50%;
  box-shadow: 0 0 10px black inset;
  outline: 1px solid rgb(255, 255, 255);
}

.canvas-container .menu .color input {
  width: 100%;
  height: 24px;
  transform: scaleX(2.6) scaleY(3.2);
  cursor: pointer;
}

.canvas-container .menu .button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.canvas-container .menu .button:disabled:hover {
  background: none;
}

.canvas-container .menu .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.canvas-container .menu .button[aria-pressed="true"] {
  background: rgba(0, 102, 255, 0.5);
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}
